.input-field {
	clear: left;
	margin-top: 20px;
	font-size: 1.5em;
}

.input-field label {
	clear: left;
	display: block;
}

.input-field input {
	clear: left;
	font-size: 2em;
}

/*input:valid {
	border: 1px solid green;
}

input:invalid {
	border: 1px solid red;
}*/

.invalid {
	background-color: red;
}

.valid {
	background-color: green;
}

#submit {
	font-size: 3em;
	cursor: pointer;
}